<header class="navbar navbar-fixed-top navbar-inverse navbar-dark bg-dark">
    <div class="container">
      <%= link_to "Laetitia's app", root_path, id: "logo" %>
      <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Accueil", root_path %></li>
            
              <li class="dropdown" aria-labelledby="dropdownMenuButton">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Compte <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><%= link_to "Profile" %></li>
                  <li class="divider"></li>
                  <li class="dropdown-item">
                    <%= link_to "Log out" %>
                  </li>
                </ul>
              </li>
          </ul>
      </nav>
    </div>   <!-- fin container -->
</header>